<% @title = "Welcome, "+current_user.name+"." %>
<% @description = "Your Dashboard" %>
<div class="container">
  <div class="span4">
    <div class="whiteSpace"></div>
    <h2>Leagues</h2>
    <div class="searchWhiteSpace span12"></div>
    <div class="span4">
      <%= link_to "Create a league",new_league_path, :class=>"btn btn-primary btn-league" %>
    </div>
    <div class="whiteSpace span12"></div>
    <h1 class="span4 or-text"><center>or</center></h1>
    <div class="whiteSpace span12"></div>
    <div class="span4 searchDashboard">
      <div class="input-append">
        <%= form_tag("/leagues", :method => "get") do %> 
        <%= text_field_tag :filter,nil, :placeholder => "Search for a league", :class=>"long" %>
        <input name="commit" class="btn" type="submit" value="Go!" />
        <% end %>
      </div> <!-- span5 -->
      <div class="whiteSpace"></div>
      <div class="activityContainer">
        <h1 class="shiftLeft">Activity stream</h1>
        <div class="innerActivity">
        <% for comment in Comment.all.reverse[0,20]%>
          <% if comment.comment_type == 2 %>
            <div class="commentsFix"><div><a href="<%= user_path(comment.user_id) %>"><%=User.find(comment.user_id).name%></a> posted a comment on <a href="<%= user_path(comment.location_id) %>"><%= User.find(comment.location_id).name%>'s</a> wall:</div> <span style="font-weight:600;"><%=comment.comment%></span></div>
          <% else %>
            <div class="commentsFix"><div><a href="<%= user_path(comment.user_id) %>"><%=User.find(comment.user_id).name%></a> posted a comment on <a href="<%= league_path(comment.location_id) %>"><%= League.find(comment.location_id).name%>'s</a>:</div> <span style="font-weight:600;"><%=comment.comment%></span></div>
          <% end %>
        <% end %>
        </div> 
      </div>
      <div class="whiteSpace"></div>
    </div> <!-- whiteSpace --> 
  </div> <!-- span3 -->
</div> <!-- container --> 
