<%= form_for(@message) do |f| %>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>
  <div>
    <%= f.submit "Send", :class=>"btn btn-large btn-primary" %>
  </div>

<% end  %>