<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Senderid:</b>
  <%= @message.senderID %>
</p>

<p>
  <b>Recipientid:</b>
  <%= @message.recipientID %>
</p>

<p>
  <b>Date:</b>
  <%= @message.date %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
