<%= form_for(@league) do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => "Enter League name" %>
    </div>
    <div>
          <%= f.label :private %>
          <%= f.check_box :private %>
    </div>
    <div>
        <%=  f.label :member_limit  %>
        <%=  f.number_field :member_limit %>
    </div>
    <div>
          <%= f.label :capital %>
          <%= f.number_field :capital, :value => "", :placeholder => "Between 10000 and 1000000", :in => 10000..1000000 %>
    </div>
    <div>
        <%= f.label :commission %>
        <%= f.number_field :commission, :value => "", :placeholder => "Between 0 and 10000", :in => 0..10000 %>
    </div>
    <div>
        <%= f.label :margin %>
        <%= f.number_field :margin, :value => "", :placeholder => "Between 0 and 100000", :in => 0..1000000  %>
    </div>

    <div>
      <%= f.label :start_date %>
      <%= f.date_select :start_date %>
    </div>
    <div>
      <%= f.label :end_date %>
      <%= f.date_select :end_date %>
    </div>

    <div>
        <%= f.submit "Create my league", :class=>"btn btn-large btn-primary" %>
    </div>

<% end  %>