<h1><%= @league.name %></h1>


<%= will_paginate(@portfolios) %>

<ul class="portfolios">
  <%= render @portfolios %>
</ul>

<%= will_paginate(@portfolios) %>

<% if @portfolio.id.nil? %>
    <%= form_for [@league, @portfolio] do |f| %>
        <%= f.submit "Join", class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>