
<div class="whiteSpace"></div>
<div class="container">
<div class="span3">
<% if @portfolio.id.nil? %>
    <%= form_for [@league, @portfolio] do |f| %>
        <%= f.submit "Join this League", class: "btn btn-primary btn-quarter fixedButtons" %>
    <% end %>
<% else %>
  <%= button_to "Leave this League", league_portfolio_path(@league, @portfolio),:method=>:delete, :class=>"btn btn-primary btn-quarter fixedButtons" %>
<% end %>

</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Members</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=@portfolios.length%></td>
    </tr>
  </table>
</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Start Date</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=@league.start_date%></td>
    </tr>
  </table>
</div>
<div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">End Date</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=@league.end_date%></td>
    </tr>
  </table>
</div>
<div class="span12 whiteSpace"></div>
<div class="span12">
<table class="table table-bordered table-striped table-highlight span5 league-table">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Account created</th>
    </tr>
  </thead>
  <tbody>
    <% for portfolio in @portfolios %>
      <tr>
        <td><%= portfolio.id %></td>
        <td><a href="<%=league_portfolio_path(portfolio.user_id)%>"><%if User.all[portfolio.user_id-1]%><%= User.all[portfolio.user_id-1].name  %><% end %></a></td>
        <td><%= portfolio.created_at %></td>
      </tr>
    <% end %>
  </tbody>  
  </tbody>
</table>
<!-- Save for later for pagination
<h1><%= @league.name %></h1>
<%= will_paginate(@portfolios) %>

<ul class="portfolios">
  <%= render @portfolios %>
</ul>

<%= will_paginate(@portfolios) %>
-->

</div>
</div>
