<!--
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%=  f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email%></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
-->

  
<div class="login">

<div class="account-container register stacked">
  
  <div class="content clearfix">
    
    
      <h1>Create Your Account</h1>      
      
      <div class="login-social">
        <p>Sign in using social network:</p>
        
        <div class="twitter">
          <a href="#" class="btn_1">Login with Twitter</a>        
        </div>
        
        <div class="fb">
          <a href="#" class="btn_2">Login with Facebook</a>       
        </div>
      </div>
      
      <div class="login-fields">
        
        <p>Create your free account:</p>
        
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="field">

          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, :placeholder=>"Name", :class=>"login"%>
        </div> <!-- /field -->
        
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder=>"Email", :class=>"login"%>
        </div> <!-- /field -->
        
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, :placeholder=>"Password", :class=>"login"%>
        </div> <!-- /field -->
        
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :placeholder=>"Confirm Password", :class=>"login"%>
        </div> <!-- /field -->
        
      </div> <!-- /login-fields -->
      
      <div class="login-actions">
        <!--
        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4">
          <label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
        </span>
        -->      
        <%= f.submit "Register", :class=>"button btn btn-primary btn-large" %>
        <%end%> 
      </div> <!-- .actions -->
      
    
  </div> <!-- /content -->
  
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
  <%= render "devise/shared/links" %>
</div> <!-- /login-extra -->


</div>        
