<div class="tabbable">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Market Order</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">Stop Order</a></li>
    <li class=""><a href="#tab3" data-toggle="tab">Limit Order</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
      <%= form_for(@order) do |f| %>
      <div>
        <%=  f.label :quantity  %>
        <%=  f.number_field :quantity %>
      </div>
      <div>
        <%= f.radio_button("trade","type","buy" ) %>
        <%= f.radio_button("trade","type","sell" ) %>
        <%= f.radio_button("trade","type","short" ) %>
        <%= f.radio_button("trade","type","cover" ) %>
      </div>
      <div>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
      <% end  %>
    </div>
    <div class="tab-pane fade" id="tab2">
      <%= form_for(@order,:url => order_path)  do |f| %>
      <div>
        <%=  f.label :quantity  %>
        <%=  f.number_field :quantity %>
      </div>
      <div>
        <%= f.radio_button("trade","type","buy" ) %>
        <%= f.radio_button("trade","type","sell" ) %>
      </div>
      <div>
      	<%= f.label :valid_until %>
      	<%= f.date_select :valid_until %>
      </div>
      <div>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
      <% end  %>
    </div>
    <div class="tab-pane fade" id="tab3">
      <%= form_for @order,:url => order_path do |f| %>
      <div>
        <%=  f.label :quantity  %>
        <%=  f.number_field :quantity %>
      </div>
      <div>
        <%= f.radio_button("trade","type","buy" ) %>
        <%= f.radio_button("trade","type","sell" ) %>
      </div>
      <div>
      	<%= f.label :valid_until %>
      	<%= f.date_select :valid_until %>
      </div>
      <div>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
      <% end  %>
    </div>
  </div>
</div>
