<div class="container">
    <div class="row">
      <div class="span4" style="vertical-align: middle; margin: 0 auto;">
        <ul style="list-style:none">
          <li>Company Title: </li>
          <li>Ticker: </li>
          <li>Today's Open: </li>
          <li>Today's High: </li>
          <li>Today's Low: </li>
          <li>Current Price: </li>
        </ul>
      </div>

      <div class="span8" id="simple_graph"></div>

      <div class="span8" id="candlestick" style="display:none"></div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        var chart = new Highcharts.StockChart({
            chart: {
                renderTo: 'simple_graph'
                // alignTicks: true // by default
            },

            yAxis: {
                title: {
                    text: '<%= @ticker %>'
                }
            },

            rangeSelector: {
                selected: 1
            },

            series: [{
                name: '<%= @ticker %>',
                data: <%= @data %>
            }]
        });
        var chart2 = new Highcharts.StockChart({
            chart: {
                renderTo: 'candlestick'
                // alignTicks: true // by default
            },

            yAxis: {
                title: {
                    text: '<%= @ticker %>'
                }
            },

            rangeSelector: {
                selected: 1
            },

            series : [{
                type : 'candlestick',
                name : '<%= @ticker %>',
                data : <%= @data_candlestick %>,
                dataGrouping : {
                    units : [
                        ['week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]]
                    ]
                }
            }]
        });
    });
</script>

<a id="graph_switch" onclick="switchGraph()">Candlestick</a>
               <script>
                 function switchGraph(){
                    if($("#simple_graph").is(":visible")){
                        $("#simple_graph").hide();
                        $("#candlestick").show();
                        $("#graph_switch").text("Simple Graph")
                    }
                    else{
                        $("#simple_graph").show();
                        $("#candlestick").hide();
                        $("#graph_switch").text("Candlestick")
                    }

                 }
               </script>