<% @title = @data_now.name %>
<div class="whiteSpace"></div>
<div class="container">
  <div class="span3">
    <table class="btn-table">
      <tr class="cell-height">
        <td class="btn-table-cell top-cell">Symbol</td>
      </tr>
      <tr>
        <td class="btn-table-cell bottom-cell"><%=@ticker%></td>
      </tr>
    </table>
  </div>
  <div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Last Trade</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=@data_now.lastTrade%>
        <% if @data_now.changePoints > 0 %>
          <span style="color: green; font-size: .7em;"> &#9650; <%= @data_now.changePoints %> (<%= @data_now.changePercent %>%) </span>
        <% else %>
          <span style="color: red; font-size: .7em;"> &#9660; <%= @data_now.changePoints %> (<%= @data_now.changePercent %>%) </span>
        <% end %>
      </td>
    </tr>
  </table>
  </div>
  <div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Bid</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=number_with_precision(@data_now.bid,:precision => 2)%></td>
    </tr>
  </table>
  </div>
  <div class="span3">
  <table class="btn-table">
    <tr class="cell-height">
      <td class="btn-table-cell top-cell">Ask</td>
    </tr>
    <tr>
      <td class="btn-table-cell bottom-cell"><%=number_with_precision(@data_now.ask,:precision => 2)%></td>
    </tr>
  </table>
  </div>

  <div class="span12" id="simple_graph"></div>

  <div class="span12" id="candlestick" style="display:none"></div>

  <div class="span4" style="vertical-align: middle; margin: 0 auto;">
    More Information: <br>
    <table>
      <tr>
        <td style="font-weight:bold">Today's Open:</td> <td>$<%= number_with_precision(@data_now.open,:precision => 2) %></td>
      </tr>
      <tr class="green_table_row" style="background-color: #D2E8CF;">
        <td style="font-weight:bold">Today's High:</td> <td>$<%= number_with_precision(@data_now.dayHigh,:precision => 2) %></td>
      </tr>
      <tr>
        <td style="font-weight:bold">Today's Low:</td> <td>$<%= number_with_precision(@data_now.dayLow,:precision => 2) %></td>
      </tr>
    </table>
  </div>
  <div class="span4"> <!-- EMPTY --> </div>
  <div class="span4" style="text-align: right;">
    <a id="graph_switch" onclick="switchGraph()">Candlestick</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        var chart = new Highcharts.StockChart({
            chart: {
                renderTo: 'simple_graph'
                // alignTicks: true // by default
            },

            yAxis: {
                title: {
                    text: '<%= @ticker %>'
                }
            },

            rangeSelector: {
                selected: 1
            },

            series: [{
                name: '<%= @ticker %>',
                data: <%= @data_simple %>
            }]
        });
        var chart2 = new Highcharts.StockChart({
            chart: {
                renderTo: 'candlestick'
                // alignTicks: true // by default
            },

            yAxis: {
                title: {
                    text: '<%= @ticker %>'
                }
            },

            rangeSelector: {
                selected: 1
            },

            series : [{
                type : 'candlestick',
                name : '<%= @ticker %>',
                data : <%= @data_candlestick %>,
                dataGrouping : {
                    units : [
                        ['week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]]
                    ]
                }
            }]
        });
    });
</script>

               <script>
                 function switchGraph(){
                    if($("#simple_graph").is(":visible")){
                        $("#simple_graph").hide();
                        $("#candlestick").show();
                        $("#graph_switch").text("Simple Graph")
                    }
                    else{
                        $("#simple_graph").show();
                        $("#candlestick").hide();
                        $("#graph_switch").text("Candlestick")
                    }

                 }
               </script>