<div id="topbar">
	<div class="container">
		<div id="top-nav">
			
      <ul>
				<li class="dropdown">
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:;">View Site #1</a></li>
						<li><a href="javascript:;">View Site #2</a></li>
						<li class="dropdown-submenu">
		          <a tabindex="-1" href="#">Dropdown menu</a>
		          <ul class="dropdown-menu">
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		          </ul>
		        </li>
					</ul> 
				</li>
			</ul>
			
			<ul class="pull-right">
				<li><a href="javascript:;"><i class="icon-user icon-white"></i> Logged in as <%= current_user.name.capitalize %></a></li>
				<li><a href="javascript:;"><span class="badge badge-primary">1</span> New Message</a></li>
				<li class="dropdown">
					<a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b>
					</a>
					
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:;">Settings #1</a></li>
						<li><a href="javascript:;">Settings #2</a></li>
						<li class="dropdown-submenu">
              <a tabindex="-1" href="#">Dropdown menu</a>
              <ul class="dropdown-menu">
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		          </ul>
		        </li>
					</ul> 
				</li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>	
	  </div> <!-- /#top-nav -->
	</div> <!-- /.container -->
</div> <!-- /#topbar -->

<div id="header">
	<div class="container">
		<a href="./index.html" class="brand">Dashboard Admin</a>		
		<a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <i class="icon-reorder"></i>
    </a>
	
		<div class="nav-collapse">
			<ul id="main-nav" class="nav pull-right">
				<li class="nav-icon">
					<a href="./index.html">
						<i class="icon-home icon-white"></i>
						<span>Home</span>        					
					</a>
				</li>
				
				<li class="dropdown">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-th icon-white"></i>
						<span>Leagues</span> 
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">
						<li><a href="./elements.html">Elements</a></li>
						<li><a href="./validation.html">Validation</a></li>
						<li><a href="./jqueryui.html">jQuery UI</a></li>
						<li><a href="./charts.html">Charts</a></li>
						<li><a href="./bonus.html">Bonus Elements</a></li>
						<li class="dropdown-submenu">
		          <a tabindex="-1" href="#">Dropdown menu</a>
		          <ul class="dropdown-menu">
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		            <li><a tabindex="-1" href="#">Second level link</a></li>
		          </ul>
		        </li>
					</ul>    				
				</li>
				
				<li class="dropdown active">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-book"></i>
						<span>Learn</span> 
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">
						<li><a href="./faq.html">FAQ</a></li>
						<li><a href="./gallery.html">Image Gallery</a></li>
						<li><a href="./pricing.html">Pricing Plans</a></li>
						<li><a href="./reports.html">Reports</a></li>
						<li><a href="./settings.html">Settings</a></li>
					</ul>    				
				</li>
				
				<li class="dropdown">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user icon-white"></i>
						<span>Users</span> 
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">							
						<li><a href="./login.html">Login</a></li>
						<li><a href="./signup.html">Signup</a></li>
						<li><a href="./error.html">Error</a></li>
						<li><a href="./skins.html">Skins</a></li>
						<li><a href="./sticky.html">Sticky Footer</a></li>
					</ul>    				
				</li>

        <li class="dropdown">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-briefcase icon-white"></i>
						<span>Companies</span> 
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">							
						<li><a href="./login.html">Login</a></li>
						<li><a href="./signup.html">Signup</a></li>
						<li><a href="./error.html">Error</a></li>
						<li><a href="./skins.html">Skins</a></li>
						<li><a href="./sticky.html">Sticky Footer</a></li>
					</ul>    				
				</li>
			</ul>
		</div> <!-- /.nav-collapse -->
	</div> <!-- /.container -->
</div> <!-- /#header -->


<div id="masthead">
  <div class="container">
    <div class="masthead-pad">
      <div class="masthead-text span7">
        <h2>Page</h2>
        <p>Description</p>
      </div>
      <div class="span4 stufff"> 
        <div class="input-append">
          <%= form_tag("/research", :method => "post") do %> 
          <%= label_tag(:ticker, "Ticker") %> 
          <%= text_field_tag(:ticker) %> 
          <input name="commit" class="btn" type="submit" value="Search" />
          <% end %> 
        </div> <!-- input-append -->
      </div> <!-- span4 -->
    </div> <!-- masthead-pad -->
  </div> <!-- container -->
</div> <!-- masthead --> 

