<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> <% if @description %>| <%= @description %> <%end%></title>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
  
  <%= stylesheet_link_tag    "application", "application2","http://fonts.googleapis.com/css?family=Open+Sans:400,600,800",  "ui-lightness/jquery-ui-1.8.21.custom","pages/pricing",:media => "all" %>

  <%= javascript_include_tag "application", "bootstrap", "libs/jquery.ui.touch-punch.min", "libs/modernizr-2.5.3.min", "libs/jquery-ui-1.8.21.custom.min", "Theme" %>
  
  <% if @title=="home" %>
 		<%= stylesheet_link_tag "homepage" %>
  <% end %>  

  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrapper">
	<% if current_user %>
		<%= render 'layouts/header' %>
	<% else %>
		<%= render 'layouts/headersignedout' %>
	<% end %> 

	<% flash.each do |key,value| %>
		<%= content_tag(:div,value,class:"alert alert-#{key}") %>
	<% end %>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
<div class="push"></div></div> <!-- /#wrapper -->

	<%= render 'layouts/footer' %>
</body>
</html>
